{% extends 'base.html' %}

{% block head_extra %}
<title>{{ scale.title }}</title>
{% endblock %}

{% block main %}
<h1>{{ scale.title }}</h1>
<div>
    {{ scale.instructions|safe }}
</div>
<form class="scale" action="/scales/{{ scale_id }}" method="post">
    {% for id, question in scale['items'].items() %}
    <label for="{{ id }}">{{ id }}. {{ question }}</label>
    <div class="scale-button">
        {% for option, label in scale.options.items() %}
        <input type="radio" id="{{ id }}_{{ option }}" name="{{ id }}" value="{{ option }}" required>
        <label for="{{ id }}_{{ option }}" title="{{label}}">{{ option }}</label>
        {% endfor %}
    </div>
    {% endfor %}
    <input type="submit" value="提交">
</form>
{% endblock %}